{% extends "base.html" %}
{% block profile %}
<link rel="stylesheet" type="text/css" href="static/styles/profile-styles.css?{{cache_id}}">
<main>
    <section id="profile-details">
        <img src={{session_artist.profile_picture}} alt="Profile Picture">
        <h1>{{session_artist.first_name}} {{session_artist.last_name}}</h1>
        <p>{{session_artist.bio}}</p>
        <p><strong>Email:</strong> {{session_artist.email}}</p>
        <p><strong>Location:</strong> {{session_artist.location}}</p>
        <p><strong>Joined:</strong> {{session_artist.created_at}}</p>
        <p><strong>Followers:</strong>{{followers}}</p>
        <p><strong>Following:</strong>{{following}}</p>

    </section>
    <section id="main-content">

    </section>
</main>
<footer>
    <p>&copy; 2024 My Website</p>
</footer>
<script type="module" src="/static/scripts/profile.js"></script>
<!-- <script type="module" src="feed.js"></script> -->
{% endblock profile %}