{% extends "auth/base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/reset-password-styles.css">
<h2>Reset Password</h2>
{% if email %}
    <div class="alert alert-success" role="alert">
        <p>An email has been sent to {{ email }} with instructions on how to reset your password.</p>
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        <p>Forgot your password? No problem. Just enter your email address and we'll send you a link to reset your password.</p>
    </div>
{% endif %}
<form method="post" action="/reset_password">
    <label for="email">Your email</label>
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit" name="reset_password" value="Reset Password">
{% endblock content %}